.editMenu{
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.editMenu:hover{
    background-color: rgba(0,0,0,0.1);
}
.addSettingModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
