.editMenu{
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.editMenu:hover{
    background-color: rgba(0,0,0,0.1);
}
.addSettingModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.menuSelect,.menuSelectActive{
    width: 100%;
    height: auto;
    padding: 2px 8px 2px 8px;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    gap: 3px;
}
.menuSelectActive{
    background-color: rgb(52, 52, 212);
}
.menuSelect:hover{
    background-color: rgba(204, 197, 197,0.5);
    
}