body{
    user-select: none;
}
.editMenu{
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.editMenu:hover{
    background-color: rgba(0,0,0,0.1);
}
.addSettingModal, .createLedgerModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.createLedgerModal{
  justify-content: flex-end;
}
.createLedgerLayer{
    width: 100%;
    max-width: calc(100% - 320px);
}
.menuSelect,.menuSelectActive{
    width: 100%;
    height: auto;
    padding: 2px 8px 2px 8px;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    gap: 3px;
}
.menuSelectActive{
    background-color: rgb(117, 117, 241);
}
.menuSelect:hover{
    background-color: rgba(204, 197, 197,0.5);
    
}

@media (max-width: 700px){
    .createLedgerLayer{
        max-width: calc(100% - 20px);
    }
}